@import '../../../../Shared/Styles/breakpoints';
@import '../../../../Shared/Styles/colors';

.container {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    // grid-gap: .5rem;
}

.gallery-anchor {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($color: black, $alpha: 0.8);
        opacity: 0;
        transition: opacity .5s;
    }
}

.gallery-anchor-icon {
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s;
    fill: rgba($color: white, $alpha: 1.0);
}

.gallery-anchor:hover::before,
.gallery-anchor:hover .gallery-anchor-icon {
    opacity: 1;
}

