@import '../../../../Shared/Styles/breakpoints';
@import '../../../../Shared/Styles/colors';

.container {
    width: 100%;
    max-width: 120rem;
    margin: auto;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "item-1 item-1 item-2 item-3"
        "item-4 item-5 item-6 item-7"
        "item-8 item-9 item-10 item-10"
        "item-11 item-12 item-10 item-10";
}

.gallery-anchor {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($color: black, $alpha: 0.8);
        opacity: 0;
        transition: opacity .5s;
    }

    &:nth-child(1) {
        min-height: 20rem;
    }

    &:nth-child(10) {
        min-height: 50rem;
    }
}

.gallery-anchor-icon {
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s;
    fill: rgba($color: white, $alpha: 1.0);
}

.gallery-anchor:hover::before,
.gallery-anchor:hover .gallery-anchor-icon {
    opacity: 1;
}

@media (max-width: $breakpoint-mobile) {
    .gallery-anchor {
        height: 10rem;

        &:nth-child(1),
        &:nth-child(10) {
            min-height: 10rem;
        }
    }
}
