@import '../../Shared/Styles/colors';

.list {
    display: flex;
}

.list-element {
    list-style-type: none;
    margin-top: 8px;
}

.list-element span {
    color: $color-black;
    font-weight: 700;
    font-size: 12px;
    margin: 0 5px;

    border: 1px solid black;
    border-radius: 3px;
    padding: 2px 10px;
}

.list-element svg {
    height: 20px;
    width: 20px;
    margin: 5px 10px;
}

.list-element svg path {
    fill: $color-black;
}
