$breakpoint-mobile: 415px;
$breakpoint-tablet: 650px;
$breakpoint-desktop: 1024px;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
