$color-black: #1e2022;
$color-gray: #fafafa;
$color-gray-light: #f0f5f9;
$color-gray-medium: #c9d6df;
$color-gray-dark: #52616b;
$color-gray-text: #0000008a;


$color-grey-pink:                          #E2D9CD;
$color-brown-grey:                         #4A4A4A;
$color-grey-light:                         #F0EAE2;
$color-grey-warm:                          #828282;
$color-beige:                              #F2ECE4;
$warm-grey-two:                            #979797;
$color-red:                                #DC5805;
$greyish-brown:                            #444444;
$color-blue-green:                         #00876E;
$color-blue-marine:                        #36B69F;
$color-blue-marine--dark:                  #00876E;
$color-light-blue-grey:                    #CDEDE2;
$color-white:                              #FFFFFF;
$color-green:                              #ABE7DD;
$color-greyish-brown-three:                #4C4C4C;
$background-color:                         #F5F5F5;

$boder: 1px solid $warm-grey-two;
