@import './fonts';
@import './colors';

*,
*::before,
*::after {
    font-family: 'customFont', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-style: normal;
    text-decoration: none;
}

html,
body,
:global(#main) {
    height: 100%;
}

// THEMES
html {
    @each $variable, $value in $theme-default {
        #{$variable}: $value;
    }

    transition: background .5s ease-in-out;
}

html[data-theme='dark']{
    @each $variable, $value in $theme-dark {
        #{$variable}: $value;
    }

    background-color: var(--background);
    color: var(--color);
}
