@import './fonts';
@import './colors';

*,
*::before,
*::after {
    font-family: 'Roboto', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-style: normal;
    text-decoration: none;
}

html,
body,
:global(#main) {
    height: 100%;
}

