@import '../../Shared/Styles/fonts';
@import '../../Shared/Styles/colors';
@import '../../Shared/Styles/breakpoints';

.header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease-in;

    &-logo {
        height: 30px;
        margin-left: 20px;
    }

    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    &-links {
        list-style: none;
        display: flex;

        li {
            width: 100px;
            padding: 10px;
        }

        a {
            opacity: 0.8;
            font-size: 20px;
            line-height: 31px;
            font-weight: $light;
            text-decoration: none;
            color: $color-greyish-brown-three;
            transition: color .5s ease-in;

            &:hover,
            &--active {
                border-bottom: 1px solid $color-grey-warm;
            }
        }
    }
}