@import '../../Shared/Styles/colors';
@import '../../Shared/Styles/fonts';

.footer {
    text-align: center;
    padding: 10px;

    &-link {
        font-size: $fontSize-small;
        text-decoration: none;

        color: $color-gray-dark;
        text-align: center;
      }
}
